<div class="fade-in">


  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-icon  [routerLink]="['/login']" name="arrow-back-outline" class="back-button"></ion-icon>
      <ion-title>Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registro de Usuario</ion-card-title>
      </ion-card-header>
    <ion-card-content>
      <ion-list style="text-align: center;">
  
        <ion-item>
          <ion-input [(ngModel)]="correo" label="Correo: " placeholder="Ingrese Correo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="nombre" label="Nombre: " placeholder="Ingrese Nombre o usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="telefono" label="Telefono: " placeholder="Ingrese Telefono"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input [(ngModel)]="password1" label="Contraseña: " type="password" placeholder="Ingrese contraseña"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input [(ngModel)]="password2" label="Repita contraseña: " type="password" placeholder="Repita la contraseña"></ion-input>
        </ion-item>

        <!-- <ion-item>
          <input type="file">
        </ion-item> 

        <img style= "display: block; height: 150px; width: 100px;" src="assets/img/link.png" alt=""> -->

        <img *ngIf="imagen" style="display: bloc; height: 150px; width: 100px;" [src]="imagen.src" alt="">

        <ion-button (click)="takePhoto()"> Tomar Foto </ion-button>
      
        <ion-button (click)="registro()" color="medium"> Registrarse </ion-button>
      
      </ion-list>
    </ion-card-content>
    </ion-card>
  </ion-content>
  
  
  </div>
  
  