<div class="fade-in">


  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-icon  [routerLink]="['/login']" name="arrow-back-outline" class="back-button"></ion-icon>
      <ion-title>Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registro de Usuario</ion-card-title>
      </ion-card-header>
    <ion-card-content>
      <ion-list style="text-align: center;">
  
        <ion-item>
          <ion-input [(ngModel)]="usuario" label="Usuario: " placeholder="Ingrese usuario"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input [(ngModel)]="password1" label="Contraseña: " type="password" placeholder="Ingrese contraseña"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input [(ngModel)]="password2" label="Repita contraseña: " type="password" placeholder="repita la contraseña"></ion-input>
        </ion-item>
      
        <ion-button (click)="signup()" color="medium"> Registrarse </ion-button>
      
      </ion-list>
    </ion-card-content>
    </ion-card>
  </ion-content>
  
  
  </div>
  
  