.ion-container{
    text-align: center;
    justify-content: center;
}

#profile{
    justify-self: center;
    display: block;
    height: 200px; 
    width: 200px; 
    border-radius: 50%;
}

#i-cuenta{
    text-align: center;
    font-size: 45px;
}

#i-basico{
    text-align: center;
    font: 35px;
}

ion-item{
    text-align: start;
    font-size: 20px;
}

#title{
    font-size: 20px;
}