<div class="fade-in">


  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-icon  (click)="return()" name="arrow-back-outline" class="back-button"></ion-icon>
      <ion-title id="title">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="ion-container" *ngFor="let u of usuario">
      <ion-content [fullscreen]="true">
        <h1><img [src]="u.imagen_usuario" id="profile"><img></h1>
        <h1 id="user">{{u.nombre}}</h1>
        <h2>{{u.telefono}}</h2>
        <h2>{{u.correo_electronico}}</h2>
      </ion-content>
    </div>
  </div>
  