<div class="fade-in">


  <ion-header [translucent]="true">
    <ion-toolbar style="display: inline-block;">
      <ion-icon  (click)="return()" name="arrow-back-outline" class="back-button"></ion-icon>
      <ion-title id="title" style="text-align: center;">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="ion-container" *ngFor="let u of usuario">
      <ion-content [fullscreen]="true">
        <h1 id="i-cuenta"><b>Información de la cuenta</b></h1>
        <h1><img [src]="u.imagen_usuario" id="profile"><img></h1>
        <h2 id="i-basico"><b>Información básica</b></h2>
        <ion-item>
          <ion-label>Nombre: </ion-label>
          <ion-label>{{u.nombre}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono: </ion-label>
          <ion-label>{{u.telefono}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Correo electrónico: </ion-label>
          <ion-label>{{u.correo_electronico}}</ion-label>
        </ion-item>
      </ion-content>
    </div>
  </div>
  