<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-icon [routerLink]="['/login']" name="arrow-back-outline" class="back-button"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card style="display: block; text-align: center; justify-content: center;">
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="correo" label="Correo: " placeholder="Ingrese Correo"></ion-input>
        <ion-button (click)="reset()" expand="block" fill="clear" shape="round">Enviar</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>
