<div class="fade-in">


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Geolocalización</ion-title>
    <ion-icon [routerLink]="['/inicio']" name="arrow-back-outline" class="back-button"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Geolocalización</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ubicación Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="latitud && longitud">
        Latitud: {{ latitud | number:'1.6-6' }}<br>
        Longitud: {{ longitud | number:'1.6-6' }}
      </p>
      <p *ngIf="!latitud || !longitud">
        No se ha obtenido la ubicación aún.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="obtenerUbicacion()">
    Obtener Ubicación
  </ion-button>

  <!-- Aquí puedes agregar un componente de mapa en el futuro -->
  <div id="mapa" style="height: 300px; margin-top: 20px;">
    <!-- El mapa se renderizará aquí -->
  </div>
</ion-content>

</div>