#bienvenido{
    text-align: center;
    font-size: 30px;
}

.list-icon{
    font-size: 30px;
}

.list-text{
    font-size: 20px;
    text-align: center;
}

#cerrar-sesion{
    display: block;
    justify-self: center;
    font-size: 15px;
}