#bienvenido{
    text-align: center;
    font-size: 30px;
}

.profile-icon{
    justify-self: center;
    display: block;
    height: 60px; 
    width: 60px; 
    border-radius: 50%;
}

.profile{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 4px;
}

.list-icon{
    font-size: 30px;
}

.list-text{
    font-size: 20px;
    text-align: center;
}

#cerrar-sesion{
    display: block;
    justify-self: center;
    font-size: 15px;
}

#profile-menu-icon{
    font-size: 40px;
}

.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ion-card{
    padding: 20px;
}