<ion-menu contentId="main-content">


  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1 (click)="profile()"><img style="height: 60px; width: 60px; border-radius: 50%;"src={{imagen_usuario}}><img> {{nombre}} </h1>
    <ion-list>
      <ion-item>
        <ion-label (click)="agregarViaje()">Agregar Viaje</ion-label>
      </ion-item>
      <ion-item>
        <ion-label (click)="agregarVehiculo()">Agregar Vehiculo </ion-label>
      </ion-item>
      <!-- <div *ngFor="let i of viajes">
          <h3>En ruta</h3>
          <ion-label>Origen: {{i.ubicacion_origen}}</ion-label>
          <ion-label>Destino: {{i.ubicacion_destino}}</ion-label>

      </div> -->

      <ion-card *ngFor="let i of viajes" (click)="seleccionarViaje(i.id_viaje)">
        <!--<ion-img [src]="i.imagen_vehiculo"></ion-img> -->
        <h3>id: {{i.id_viaje}}</h3>
        <h3>Origen: {{i.ubicacion_origen}}</h3>
        <h3>Destino: {{i.ubicacion_destino}}</h3>

        <div class="vertical">
          <ion-label>Patente: {{i.patente}}</ion-label>
          <ion-label>Color: {{i.color}}</ion-label>
          <ion-label>Marca: {{i.marca}}</ion-label>
          <ion-label>Modelo: {{i.modelo}}</ion-label>
        </div>
      </ion-card>

      <ion-item>
        <ion-button (click)="logout()" id="cerrar-sesion" color="medium"> Cerrar Sesion </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="fade-in">

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="inicio">
      <h1 id="bienvenido">Bienvenido {{nombre}}</h1>
      <ion-list>
        <ion-item (click)="agregarViaje()" style="margin: 20px;">
          <ion-icon name="airplane-outline" class="list-icon"></ion-icon>
          <ion-label class="list-text">Viaje</ion-label>
        </ion-item>
        <ion-item (click)="listarVehiculos()" style="margin: 20px">
          <ion-icon name="car-outline" class="list-icon"></ion-icon>
          <ion-label class="list-text">Mostrar Vehiculos</ion-label>
        </ion-item>
        <div *ngFor="let v of viajes">
          <ion-item *ngIf="v.id_estado == 2">
            <ion-label>Origen: {{v.ubicacion_origen}}</ion-label>
            <ion-label>Destino: {{v.ubicacion_destino}}</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </ion-content>
</div>

</div>
