<ion-header [translucent]="false">
  <ion-toolbar style="display: inline-block;">
    <ion-title style="text-align: center;">Vehiculos</ion-title>
    <ion-icon [routerLink]="['/inicio']" name="arrow-back-outline" class="back-button"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 id="v-title"><b>Lista de Vehiculos</b></h1>
  <ion-card *ngFor="let v of vehiculo">
    <div class="vertical" style="justify-self: center;">
      <h1><b>Patente: {{v.patente}}</b></h1>
      <ion-label>Marca Vehiculo: {{v.marca}}</ion-label> <br>
      <ion-label>Modelo Vehiculo: {{v.modelo}}</ion-label> <br>
      <ion-label>Año Vehiculo: {{v.anio}}</ion-label> <br>
      <ion-label>Color Vehiculo: {{v.color}}</ion-label> <br>
      <ion-label>Combustible: {{v.tipo_combustible}}</ion-label> <br>
      <h1><img src={{v.imagen_vehiculo}} alt=""></h1>
    </div>
  </ion-card>
</ion-content>
